
.box {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    overflow: auto;
    white-space: nowrap;
}

.switch {
    display: flex;
    flex-direction: column;
}

.switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
}

.switch label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    background: #fffefe;
    border-radius: 25px;
    transition: 0.3s;
    border: solid #524e4e31;

}

.switch input:checked+label {
    background: #5aee04;
}

.switch input:checked+label:after {
    left: calc(100%);
    transform: translateX(-100%);
}

.switch label:active:after {
    width: 10px;
}

.addtournament {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.addtournament input {
    border: 0.1px solid rgb(46, 46, 46);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.hand_level{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkbox_wrapper_33 {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 1px;
    --c-primary: #5F11E8;
    --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
    --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(.11,.29,.18,.98);
    margin: 10px;
    
  }

  .checkbox_wrapper_33 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .checkbox_wrapper_33 .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .checkbox_wrapper_33 .checkbox + .checkbox {
    margin-top: var(--s-small);
  }
  .checkbox_wrapper_33 .checkbox__symbol {
    display: inline-block;
    display: flex;
    margin-right: calc(var(--s-small) * 0.7);
    border: var(--border-width) solid var(--c-primary);
    position: relative;
    border-radius: 0.1em;
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
    box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
  }
  .checkbox_wrapper_33 .checkbox__symbol:after {
    content: "";
    position: absolute; 
    top: 0.5em;
    left: 0.5em;
    width: 0.25em;
    height: 0.25em;
    background-color: var(--c-primary-20-percent-opacity);
    opacity: 0;
    border-radius: 3em;
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  .checkbox_wrapper_33 .checkbox .icon_checkbox {
    width: 1em;
    height: 1em;
    margin: auto;
    fill: none;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    color: var(--c-primary);
    display: inline-block;
  }
  .checkbox_wrapper_33 .checkbox .icon_checkbox path {
    transition: stroke-dashoffset var(--t-fast) var(--e-in);
    stroke-dasharray: 30px, 31px;
    stroke-dashoffset: 31px;
  }
  .checkbox_wrapper_33 .checkbox__textwrapper {
    margin: 0;
  }
  .checkbox_wrapper_33 .checkbox__trigger:checked + .checkbox__symbol:after {
    -webkit-animation: ripple-33 1.5s var(--e-out);
            animation: ripple-33 1.5s var(--e-out);
  }
  .checkbox_wrapper_33 .checkbox__trigger:checked + .checkbox__symbol .icon_checkbox path {
    transition: stroke-dashoffset var(--t-base) var(--e-out);
    stroke-dashoffset: 0px;
  }
  .checkbox_wrapper_33 .checkbox__trigger:focus + .checkbox__symbol {
    box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
  }

  @-webkit-keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale(20);
    }
  }

  @keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale(20);
    }
  }
