
.box {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.switch {
    display: flex;
    flex-direction: column;
}

.switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
}

.switch label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    background: #fffefe;
    border-radius: 25px;
    transition: 0.3s;
    border: solid #524e4e31;

}

.switch input:checked+label {
    background: #5aee04;
}

.switch input:checked+label:after {
    left: calc(100%);
    transform: translateX(-100%);
}

.switch label:active:after {
    width: 10px;
}

.addtournament {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.addtournament input {
    border: 0.1px solid rgb(46, 46, 46);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}