.detailBTN {
  /* color: black;
    text-decoration: none;
    font-weight: bold; */
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: none;
  background: rgb(36, 146, 236);
}

/* .detailBTN:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
} */
.titleM {
  display: flex;
  justify-content: space-between;

}

.titleM h5 {
  margin-right: 50px;

}

.titleM h6 {
  margin: 0;
}

.wrapper2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
}

.wrapper3 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}


.wrapper {
  display: flex;
  justify-content: space-around;
}

.detail {
  text-align: center;
}

.detail img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.detail div {
  padding-top: 5px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

}