.container {
    display: block;
    width: 100%;
  }
  
  .content {
    height: 100%;
    margin-left: 172px; /* Set the width of your sidebar here */
    margin-top: 0;
    top: 0;
    padding: 1rem; 
  
  }
