.container {
  display: block;
  width: 100%;
}

.content {
  margin-top: 0;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .container {
    margin-left: 0; /* Remove the left margin on smaller screens */
  }

  .content {
    margin-left: 0; /* Remove the left margin on smaller screens */
  }
}
