.sidebar {
    width: fit-content;
    background-color: #f1f1f1;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
    border-radius: 0px;
    top: 0;
    position: fixed;
    height: 100%;
    left: 0;
    margin-top: 40px;
   
  }
  
  .sidebar-hidden {
    transform: translateX(-100%);
    visibility: hidden;
    width: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-button:hover {
    background-color: #333;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .menu-item:hover {
    background-color: #e3e3e3;
  }
  
  .menu-item-active {
    background-color: #ddd;
  }
  
  .sub-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .sub-menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sub-menu-item:hover {
    background-color: #e3e3e3;
  }
  
  .sub-menu-item-active {
    /* Selected submenu item styles */
    background-color: #862323; /* Set a different background color for selected item */
    color: #555; /* Set a different text color for selected item */
  }
  .menu-item-active {
    /* Selected menu item styles */
    background-color: #f5f5f5; /* Set a different background color for selected item */
    color: #333; /* Set a different text color for selected item */
  }
  
  .link{
    text-decoration: none;
  }

/* .navbar {
    display: block;
    background-color: rgb(216, 255, 165);
    width: 15%;
    height: 100%;
    position: fixed;
}
.div{
    position: fixed;
    width: 85%;
    height: 100%;
    background-color: aquamarine;
    left: 15%;
}
.divcon{
display: block;


} */
/* .navItems ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} */

.navItems ul li {
    margin-right: 10px;
}

.navItems ul li a {
    text-decoration: none;
}


/* Tournament */
.h3{
    background-color: aqua;
    color: rgb(223, 146, 53);  
}