.Container h3 {
    text-align: center;
}

.heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    white-space: pre-wrap;
}
.content textarea{
    width: 100%;
    height: 300px;
}
.container {
    padding: 20px;
    height: fit-content;
}

.box {
    border-radius: 8px;
    border: 1px solid black;
    padding: 15px;
    justify-content: flex-end;
    text-align: end;
    font-size: 1rem;
    background-color: aliceblue;
}

.contect {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 10px;
    align-items: flex-end;
}

.contect p {
    margin: 3px;
}