.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* ใช้ min-height เพื่อให้ wrapper ขยายตามเนื้อหา */
  background-color: #ffffff;
}

.contentWrapper {
  flex: 1;
  /* ใช้ flex: 1 เพื่อให้ contentWrapper ขยายตามเนื้อหา */
  display: flex;

}

.content {
  margin-top: 40px;
  /* ขยับเนื้อหาขึ้นไปข้างล่างของ Topbar */
  width: calc(100%);
  background: #ffffff;
  overflow: auto;
  transition: width 0.3s ease-in-out, margin 0.3s ease-in-out; /* เพิ่ม transition ให้กับ width และ margin */


}

.open .content {
  margin-left: calc(220px);
  /* ขยับเนื้อหาเมื่อเปิดเมนูด้านข้าง */
  width: calc(100%);
  overflow: auto;

}

.box{

  margin: 1rem;
}