.sidebar {
  /* background-color:  rgb(48, 130, 207); */
  background-color: #117eb4;
  color: #ffffff;
  transform: translateX(-100%);
  /* transition: transform 0.3s ease-in-out; */
  position: fixed;
  height: 100%;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  z-index: 100;
  width: 220px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
  top: 40px;
  /* เพิ่มค่า top เพื่อให้ Sidebar ไม่ทับ Topbar */

}

.open {
  transform: translateX(0);
}


.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.menu-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

}

.menu-item:hover {
  color: rgb(255, 255, 255);
  background-color: #006ba0;
}

.menu-item-active {
  background-color: #bb3636;
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.link div  span{
margin-left: 10px
}
.sub-menu-item {
  padding: 10px;
  cursor: pointer;
}

.sub-menu-item:hover {
  padding: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #5685f3;
  border-radius: 5px;

}

.menu-item a {
  text-decoration: none;
}




.activeMenuItem {
  color: #ffffff;
  background-color: #002f6d;

}

.activeSubMenu {
  font-weight: bold;
  color: #ffffff;
  background-color: #5685f3;
  border-radius: 5px;
}