/* styles/NotFound.module.css */
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .h1 {
    color: #0066cc;
    font-size: 6rem;
    margin-bottom: 20px;
  }
  
  .h2 {
    color: #444;
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .p {
    color: #777;
    font-size: 1.5rem;
    line-height: 1.6;
  }
  @media screen and (max-width: 768px) {
    .h1 {
        color: #0066cc;
        font-size: 3rem;
        margin-bottom: 20px;
      }
      
      .h2 {
        color: #444;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      
      .p {
        color: #777;
        font-size: 1rem;
        line-height: 1.6;
      }
    
  }