/* feedback.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
  
  .heading {
    font-size: 24px;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .message {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  