.table-container {
    width: 100%;
    overflow-x: auto;

}

.schedule-table {
    width: 100%;
    border: 1px solid rgb(145, 126, 126);
    border-collapse: collapse;
    margin-top: 5px;
}

.schedule-table th,
.schedule-table td {
    text-align: left;
    border: 1px solid #ddd;
    border-color: rgb(131, 131, 163);
    text-align: center;
    padding: 8px;
}

.schedule-table th {
    font-weight: bold;
    background-color: #d3dee7;
}

.schedule-table tbody tr:nth-child(even) {
    background-color: #f3f1f1;
}

.schedule-table tbody tr:hover {
    background-color: #f5f5f5;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    width: 100vw;
    overflow: hidden;
}
.title {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
/* Responsive CSS */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .schedule-table th,
    .schedule-table td {
        padding: 8px;
        font-size: 12px;
    }

    .title {
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 16px;
      }

}