/* CSS for the Schedule table */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.schedule-table {
  width: 100%;
  border: 1px solid rgb(145, 126, 126);
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  text-align: left;
  border: 1px solid #ddd;
  border-color: rgb(131, 131, 163);
  text-align: center;
  padding: 10px;
}

.schedule-table th {
  font-weight: bold;
  background-color: #d3dee7;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tbody tr:hover {
  background-color: #f5f5f5;
}

/* CSS for general styling */
.container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.btn {
  padding: 8px 12px;
  margin-top: 5px;
  margin-right: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.active {
  background-color: #67839e;
  color: #ffffff;
  border: #ffffff;
}

.wrapper1 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 20px 10px 10px;
  padding: 0;
}
.slip{
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}
.file_input {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.file_input:hover {
  background-color: #0058c1;
}
.disabled{
  background-color: #67839e;
  cursor: default;
  pointer-events: none;

}

.title {
  justify-content: center;
  text-align: center;
  width: 100%;
}
.btn_wrapper{
  justify-content: space-between;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.loading {
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #000;
  animation: spin 1s infinite linear;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .btn {
    margin-right: 10px;
    font-size: 12px;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 8px;
    font-size: 12px;
  }
  .wrapper1 {
    flex-direction: column;
  }
  
  .detail {
    margin: 20px 20px 0px 0px;
    padding: 10px;
    width: 100%;
  }
}
