/* CSS for the Schedule table */
.table-container {
  width: 100%;
  overflow-x: auto;

}

.schedule-table {
  width: 100%;
  border: 1px solid rgb(145, 126, 126);
  border-collapse: collapse;
  margin-top: 20px;

}

.schedule-table th,
.schedule-table td {
  text-align: left;
  border: 1px solid #ddd;
  border-color: rgb(131, 131, 163);
  text-align: center;
  padding: 5px;
}

.schedule-table th {
  font-weight: bold;
  background-color: #d3dee7;
  
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tbody tr:hover {
  background-color: #f5f5f5;
}

/* CSS for general styling */
.container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.btn {
  padding: 8px 12px;
  margin-top: 5px;
  margin-right: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.active {
  background-color: #67839e;
  color: #ffffff;
  border: #ffffff;
}

.wrapper1 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img div a {
  color: #fff;
  text-decoration: none;
}
.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 20px 10px 10px;
  padding: 0;
  justify-content: center;
}
.wrapper4{
  display: flex;
  justify-content: space-evenly;
}

.footer1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn1{
  display: flex;
  justify-content: flex-start;
}
.btn1 a {
 color: white;
 text-decoration: none;
}
.slipbtn {
  display: flex;
}
.slipbtn button{
  margin-left: 1rem;
}
.slip{
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}
.file_input {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.file_input:hover {
  background-color: #0058c1;
}
.disabled{
  background-color: #67839e;
  cursor: default;
  pointer-events: none;

}

.title {
  justify-content: center;
  text-align: center;
  width: 100%;
}
.btn_wrapper{
  justify-content: space-between;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.payment{
  /* justify-content: space-around;
  text-align: center;
  display: flex; */
  width: 100%;

}
.payment p {
  margin: 0;

}


.loading {
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #000;
  animation: spin 1s infinite linear;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .btn {
    margin-right: 10px;
    font-size: 12px;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 8px;
    font-size: 12px;
  }
  .wrapper1 {
    flex-direction: column;
  }
  
  .detail {
    margin: 20px 20px 0px 0px;
    padding: 10px;
    width: 100%;
  }
  .btnPay{
    font-size: 12px;
    margin: 0;
  }
}
.lds_roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.btnPay{
  font-size:15px;
}

.lds_roller div {
  animation: lds_roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds_roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #00ffaa;
  margin: -4px 0 0 -4px;
}
.lds_roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds_roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds_roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds_roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds_roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds_roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds_roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds_roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds_roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds_roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds_roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds_roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds_roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds_roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds_roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds_roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds_roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: rgb(255, 102, 0);
  font-weight: bold;
  
}
.load {
  pointer-events: none;
  opacity: 0.1;
}
.Modal{
  width: 600px;
  margin: 0 auto;
}