/* Tournament.module.css */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add styles for the loading spinner container */
  display: flex;
  flex-direction: column;

}

.load {
  pointer-events: none;
  opacity: 0.6;

}

.spinner {
  width: 60px;
  height: 60px;
  border: 4px solid #f0f0f0;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spinner-rotate 1s linear infinite;
  margin-left: 35px;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.h3 {
  text-align: center;
  justify-content: center;
  margin: 10px 0px
}

.content {

  display: flex;
  justify-content: center;

}

.h6 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0011ff;
  margin: 1rem 0;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  overflow: auto;
  white-space: nowrap;
  max-width: 1100px;
}

.header {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: fit-content;
}

.span {
  font-size: 16px;
  color: red;
  font-weight: 600;
  text-align: center;
}

.form-group label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;

}

.form-group label span {
  margin-left: 10px;
}

.form-group input[type='text'],
.form-group input[type='file'],
.form-group input[type='tel'],
.form-group input[type='number'],
.form-group select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  background-color: #f7f7f7;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 5px;
  margin-right: 1rem;
  width: 400px;


}

.form-group input[type='text']:focus,
.form-group input[type='file']:focus,
.form-group input[type='tel']:focus,
.form-group input[type='number']:focus,
.form-group select:focus {
  outline: none;
  background-color: #ebebeb;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-col label {
  margin-top: 10px;
  margin-right: 10px;
}

.form-row input {
  width: 100%;
}


.file_input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  background-color: #657eac;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.1s ease-in-out;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.file_input:hover {
  color: #ffffff;
  background-color: #1e56aa;
}

.wrapper {
  display: flex;
}

.line {
  border-bottom: 1px solid black;

}

.imagePreview {
  max-width: 200px;
  max-height: 250px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.selectimg {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f7f7f7;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 5px;
}

.submit_btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.submit_btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .form-group input[type='text'],
  .form-group input[type='file'],
  .form-group input[type='tel'],
  .form-group input[type='number'],
  .form-group select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f7f7f7;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 5px;
    width: 100%;
  }

  .form-col {
    display: flex;
    flex-direction: column;

  }

  .form-group {
    width: 100%;
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .centeredContent {
    width: 100%;
  }
}
.header {
  text-align: center;
  margin: 10px;
  font-size: 18px;
}
.header div span {
  font-weight: bold;
  color: #e68e2a;
}
.notnow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.notnowBox {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.notnow h1 {
  color: #0066cc;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.notnow p {
  color: #444;
  font-size: 1.2rem;
  line-height: 1.6;
}
